.website-content {
    margin: 12px auto 40px auto;
    max-width: 800px;
    overflow: hidden;
    text-align:justify
}

h1{
    color:midnightblue;
}

h2{
    color:midnightblue;
}

h3{
    color:midnightblue;
}